<!DOCTYPE html>
<html>
<head>
  <title>{{ champion.name }}</title>
  {% include 'include_top.twig' %}
</head>
<body>
  <div id="background" style="background-image: url('{{ champion.background }}')"></div>
  {% include 'topbar.twig' %}
  {% include 'header.twig' %}
  <div class="container">

    <div class="champion-info">
      <div class="portrait"><img src="{{ system.portrait ~ champion.image.full }}" alt=""></div>
      <div class="champion-name">
        <div class="name">{{ champion.name }}</div>
        <div class="title">{{ champion.title }}</div>
      </div>
    </div>

    <section class="ac-container">
      <div class="bio">
        <input id="ac-2" name="accordion-1" type="checkbox" />
        <label for="ac-2">Biografia</label>
        <article class="ac-large">
          <p>{{ champion.bio }}</p>
        </article>
      </div>
      <div class="faction">
        <input id="ac-3" name="accordion-1" type="checkbox" />
        <label for="ac-3">Facção</label>
        <article class="ac-small">
          <p>{{ champion.partype }}</p>
        </article>
      </div>
      <div class="friends">
        <input id="ac-4" name="accordion-1" type="checkbox" />
        <label for="ac-4">Amigos</label>
        <article class="ac-small">
          <p>{{ champion.key }}</p>
        </article>
      </div>
      <div class="foes">
        <input id="ac-5" name="accordion-1" type="checkbox" />
        <label for="ac-5">Rivais</label>
        <article class="ac-small">
          <div class="hexagon">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
          </div>
        </article>
      </div>
      <div class="trivia">
        <input id="ac-6" name="accordion-1" type="checkbox" />
        <label for="ac-6">Curiosidades</label>
        <article class="ac-large">
          <p>{{ champion.blurb }}</p>
        </article>
      </div>
      <div><!--...--></div>
    </section>
  </div>
</body>
</html>
